    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@400;500&display=swap');
     :root {
        --black: #191919;
        --primary: #ffcd07;
        --hover: #ffcc00dc;
        --white: rgb(255, 247, 247);
        --font-roboto: 'Roboto', sans-serif;
        --font-lato: 'Lato', sans-serif;
    }
    
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    body {
        width: 100%;
        height: 100vh;
        background-color: var(--white);
    }
    
    header {
        width: 100%;
        height: 4em;
    }
    
    .container {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: var(--black)
    }
    
    .title {
        font-size: 3rem;
        font-family: var(--font-roboto);
    }
    
    .sub-title {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-family: var(--font-lato);
    }
    
    .search-box {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    }
    
    .search-box>input {
        height: 3em;
        width: 25rem;
        border: 2px solid var(--primary);
        border-right: none;
        color: var(--primary);
        font-family: var(--font-roboto);
        padding-left: 10px;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.5px;
    }
    
    input:focus,
    textarea:focus,
    select:focus {
        outline: none;
    }
    
    .search-box>input::placeholder {
        padding-left: 10px;
        color: var(--primary);
    }
    
    .search-box>button {
        border: 1px solid var(--primary);
        width: 5.5rem;
        background-color: var(--primary);
        color: var(--white);
        font-family: var(--font-roboto);
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1.3px;
        transition: 0.2s;
    }
    
    .search-box>button:hover {
        background-color: var(--hover);
        letter-spacing: .5px;
    }
    /* results ------------------------------------------------------------------------------------------------------------------------------------------------------ */
    
    .results-title {
        text-align: center;
        margin-top: 2em;
        color: --black;
        font-family: var(--font-roboto);
        font-size: 2.5rem;
    }
    
    .list-results {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }
    
    .card {
        text-align: center;
        border-radius: 20px;
        margin: 1em 1em;
        width: 20em;
        -webkit-box-shadow: 6px 6px 18px 5px rgba(0, 0, 0, 0.24);
        box-shadow: 6px 6px 18px 5px rgba(0, 0, 0, 0.24);
    }
    
    .card img {
        height: 15em;
        width: 20em;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    
    .recipe-name {
        text-align: center;
        font-family: var(--font-roboto);
        max-height: 1em;
    }
    
    .get-recipe {
        margin-top: 5em;
        text-align: center;
    }
    
    .btn {
        border: none;
        width: 12em;
        height: 3em;
        background-color: var(--primary);
        color: var(--white);
        font-family: var(--font-roboto);
        font-weight: bold;
        cursor: pointer;
        letter-spacing: 1.3px;
        transition: 0.2s;
        border-radius: 25px;
        margin-bottom: 2em;
    }
    
    .btn:hover {
        background-color: var(--hover);
        letter-spacing: .5px;
    }
    /*modal------------------------------------------------------------------------------------------------------------------------------------------ */
    
    .meal-details-content {
        position: fixed;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        background: var(--primary);
        color: var(--black);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        width: 50%;
        max-height: 100%;
        padding: 2rem 0;
        font-family: var(--font-roboto);
        padding: 2em;
        display: none;
    }
    
    .meal-details-content .meal-type {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        margin-top: .5em;
    }
    
    .meal-details-content .meal-type>h3 {
        background-color: var(--black);
        color: var(--white);
        border-radius: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /* js related------------------------------------------------------------------------------------------------------------------------------------- */
    
    .close-btn {
        border: none;
        width: 12em;
        height: 3em;
        background-color: var(--black);
        color: var(--white);
        font-family: var(--font-roboto);
        font-weight: bold;
        cursor: pointer;
        letter-spacing: 1.3px;
        transition: 0.2s;
        border-radius: 25px;
        margin-top: 3em;
    }
    
    .close-btn:hover {
        background-color: #2e2d2d;
        letter-spacing: .5px;
    }